/* Navbar */
#navbarHeader {
    background: rgba(76, 76, 76, 1);
    background: -moz-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(76, 76, 76, 1)), color-stop(12%, rgba(89, 89, 89, 1)), color-stop(25%, rgba(102, 102, 102, 1)), color-stop(39%, rgba(71, 71, 71, 1)), color-stop(50%, rgba(44, 44, 44, 1)), color-stop(51%, rgba(0, 0, 0, 1)), color-stop(60%, rgba(17, 17, 17, 1)), color-stop(76%, rgba(43, 43, 43, 1)), color-stop(91%, rgba(28, 28, 28, 1)), color-stop(100%, rgba(19, 19, 19, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    background: linear-gradient(135deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
    color: #FFFFFF;
}

.kolomA {
    padding-top: 10px;
    border-bottom: 2px solid black;
    margin-top: 15px;
}

.kolomA a {
    padding: 15px;
    font-weight: bold;
    color: white;
    font-size: 17px;
}

.kolomA a:hover {
    background-color: white;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
}

.kolomB {
    padding-bottom: 20px;
}

.logo {
    letter-spacing: 10px;
}

.logo a,
.logo a:hover,
.logo a:focus {
    color: white;
    text-decoration: none;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 32px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar .search_input {
    padding: 0 10px;
    width: 300px;
    caret-color: white;
    transition: width 0.4s linear;
    font-weight: bold;
}

.searchbar .search_icon {
    background: white;
    color: black;
    text-decoration: none;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    border: none;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}

.navbarBeliKategori {
    border-radius: 4px;
    background-color: red;
    padding: 15px;
    margin-top: 10px;
    margin-right: 15px;
}

.navbarBeliKategori:hover {
    color: black;
}

.dropdown-toggle {
    color: white;
    text-decoration: none;
}

.dropdown .dropdown-menu {
    background-color: red;
    min-width: 164px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.dropdown .dropdown-menu a {
    font-weight: bold;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown .dropdown-menu a:hover {
    background-color: pink;
    color: red;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li {
    padding-top: 2px;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.ukuran-besar-navBar {
    display: none;
    cursor: pointer;
}

.ukuran-besar-navBar a:hover,
.ukuran-besar-navBar a:focus {
    text-decoration: none;
    color: black;
}

.ukuran-kecil-navBar {
    display: block;
    float: left;
}

.smallsearch {
    margin-top: 15px;
}

.menu {
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .ukuran-besar-navBar {
        display: block;
    }

    .ukuran-kecil-navBar {
        display: none;
    }

    .smallsearch {
        margin: 0px;
    }
}

.image {
    background: url(http://1.bp.blogspot.com/-ucOpjReMNVI/Vf7A0yNFo_I/AAAAAAAAADI/SGSidYaemvM/s1600/1.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    margin-top: -20px;
}

.image .heading {
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 200px;
}

.image p {
    text-align: center;
    padding: 20px 60px;
}

.image p a {
    text-decoration: none;
    color: black;
    font-size: 19px;
}

.image p .btn {
    border: 1px solid black;
    padding: 10px;
    font-size: 1.2em;
    background: transparent;
}

.image p .btn:hover,
.btn:active {
    background: rgba(235, 233, 249, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(235, 233, 249, 1)), color-stop(50%, rgba(216, 208, 239, 1)), color-stop(51%, rgba(206, 199, 236, 1)), color-stop(100%, rgba(193, 191, 234, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1);
    color: black;
}

.button {
    border-radius: 4px;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Navbar Mobile */
.dropdown-container-navBar-samping {
    display: none;
    background-color: #262626;
    border-bottom: 5px solid #2469d9;
    padding-left: 8px;
}

.dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.dropdown-btn:focus {
    color: white;
    background-color: #2469d9;
}

.navbar-samping {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.navbar-samping a,
.dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.navbar-samping a:hover,
.navbar-samping a:focus {
    color: #f1f1f1;
    text-decoration: none;
}

.navbar-samping .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Body Pada Beranda No Login */
#alur-sistem {
    background-color: #faf9f9;
    padding-bottom: 10px;
}

.pembatas {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* Login Menu */
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text],
input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    border-radius: 3px;
    -webkit-user-select: none;
    user-select: none;
}

.loginmodal-submit {
    border: 1px solid black;
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #212121;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#212121), to(#9e9e9e));
}

.loginmodal-submit:hover {
    border: 1px solid #bdbdbd;
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #424242;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#424242), to(#616161));
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.loginmodal-container h1 {
    font-weight: 700;
    animation: halamanLogin 3s steps(32, end), step-end infinite;
    -webkit-animation: halamanLogin 7s infinite;
    -moz-animation: halamanLogin 7s infinite;
    animation: halamanLogin 7s infinite;
    overflow: hidden;
    white-space: nowrap;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 4s;
}

@keyframes halamanLogin {
    from {
        width: 0px;
    }

    to {
        width: 240px;
    }
}

.login-help {
    font-size: 12px;
}

.login-btn {
    text-align: center;
    margin-top: 50px;
}

/* Slide Image */
.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Card */
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin: 30px 0;
}

.card-img-top {
    display: block;
    width: 100%;
    height: 200px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.card-img-top:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.uploader {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-footer button {
    float: right;
    margin-bottom: 10px;
}

.profile-uploaderz {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.kategori {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.kategori a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.kategori a:hover {
    color: rgba(0, 0, 0, .87);
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Tanda Slide */
.dot {
    cursor: not-allowed;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #e0e0e0;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #263238;
}

/* Halaman Admin */
.judul-halaman-admin {
    letter-spacing: 5px;
    transition: all .8s ease-in-out;
}

.judul-halaman-admin:hover {
    transform: scale(0.7);
    cursor: default;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 2px solid gray;
    text-align: left;
    padding: 8px;
}

#pendaftaran {
    padding: 12px;
}

/* Project Not Found */
.project-tidak-ditemukan {
    background-color: #ff5252;
    border: 1px solid red;
    font-size: 16px;
    border-radius: 5px;
    width: 40%;
}

.project-tidak-ditemukan p {
    padding: 10px;
    margin-bottom: 0px;
    font-weight: bold;
}

/* Tombol BackTop */
#backtop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50%;
}

#backtop:hover {
    background-color: red;
    color: black;
}

/*Kotak Profile & Kotak DaftarProfesi*/
.halaman-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    background: rgba(235, 233, 249, 1);
    background: -moz-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 233, 249, 1)), color-stop(50%, rgba(216, 208, 239, 1)), color-stop(51%, rgba(206, 199, 236, 1)), color-stop(100%, rgba(193, 191, 234, 1)));
    background: -webkit-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -o-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -ms-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
}

.kotak-foto {
    text-align: center;
}

.kotak-foto img {
    width: 70%;
    height: 100%;
}

.kotak-foto .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.kotak-foto .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.kotak-profil-atas h2 {
    color: black;
    font-weight: bold;
}

.kotak-profil-atas h6 {
    color: black;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.kotak-email {
    font-size: 17px;
    color: black;
    margin-top: 5%;
}

.kotak-profil-atas .deskripsi {
    margin-bottom: 5%;
}

.kotak-profil-atas .deskripsi .deskripsi-tampilkan {
    font-weight: 600;
    border: none;
}

.kotak-profil-atas .deskripsi .deskripsi-tampilkan.active {
    border: none;
    border-bottom: 10px solid black;
    color: rgba(0, 0, 0, 0.8);
    ;
    text-decoration: none;
    letter-spacing: 10px;
    cursor: default;
}

.kotak-data-tambahan {
    padding: 14%;
    margin-top: -15%;
}

.kotak-data-tambahan p {
    font-size: 12px;
    color: black;
    font-weight: 600;
    margin-top: 10%;
}

.kotak-data-tambahan a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}

.kotak-data-tambahan .fb:hover {
    text-decoration: none;
    color: blue;
}

.kotak-data-tambahan .twit:hover {
    text-decoration: none;
    color: lightblue;
}

.kotak-data-tambahan .ig:hover {
    text-decoration: none;
    color: pink;
}

.kotak-data-tambahan ul {
    list-style: none;
}

.deskripsinya label {
    font-weight: 600;
}

.deskripsinya p {
    font-weight: 600;
    color: black;
}

.untuk-daftar-profesi {
    background: rgba(235, 233, 249, 1);
    background: -moz-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235, 233, 249, 1)), color-stop(50%, rgba(216, 208, 239, 1)), color-stop(51%, rgba(206, 199, 236, 1)), color-stop(100%, rgba(193, 191, 234, 1)));
    background: -webkit-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -o-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
    background: -ms-linear-gradient(top, rgba(235, 233, 249, 1) 0%, rgba(216, 208, 239, 1) 50%, rgba(206, 199, 236, 1) 51%, rgba(193, 191, 234, 1) 100%);
}

.untuk-isi-daftar-profesi {
    margin-top: 10px;
    font-weight: bold;
}

.btn:active {
    text-decoration: none;
    transform: translateY(4px);
}

/* Ulasan pada Deskripsi Projek */

.reviews {
    padding: 15px;
    max-width: 768px;
    margin: 0 auto;
}

.review-item {
    background-color: white;
    padding: 15px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px #343a40;
}

.review-item .review-date {
    color: #cecece;
}

.review-item .review-text {
    font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
    color: #343a40;
}

.review-item .reviewer {
    width: 100px;
    height: 100px;
    border: 1px solid #cecece;
}

/* Jangan diubah ini ada pada review */
.raterater-wrapper {
    overflow: visible;
}

.software .raterater-wrapper {
    margin-top: 4px;
}

.raterater-layer,
.raterater-layer i {
    display: block;
    position: absolute;
    overflow: visible;
    top: 0px;
    left: 0px;
}

.raterater-hover-layer {
    display: none;
}

.raterater-hover-layer i,
.raterater-rating-layer i {
    width: 0px;
    overflow: hidden;
}

.rounded-circle {
    border-radius: 50%;
}

/* Option Pilih Bank */
.option-show {
    display: none;
}

/* Details tag dan Summary tag */
details {
    max-width: 600px;
    margin: 0 auto 15px;
    box-shadow: 0 8px 6px -6px black;
    background-color: pink;
    font-size: 24px;
}

summary {
    font-weight: bold;
    font-size: 18px;
    padding: 12px;
    outline: none;
    border-bottom: 3px solid pink;
    background-color: red;
    color: white;
}

summary:hover {
    cursor: pointer;
}

details p {
    padding: 0 12px 12px 20px;
    color: red;
}

/* Footer */
footer {
    background: rgba(76, 76, 76, 1);
    background: -moz-linear-gradient(45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(76, 76, 76, 1)), color-stop(12%, rgba(89, 89, 89, 1)), color-stop(25%, rgba(102, 102, 102, 1)), color-stop(39%, rgba(71, 71, 71, 1)), color-stop(50%, rgba(44, 44, 44, 1)), color-stop(51%, rgba(0, 0, 0, 1)), color-stop(60%, rgba(17, 17, 17, 1)), color-stop(76%, rgba(43, 43, 43, 1)), color-stop(91%, rgba(28, 28, 28, 1)), color-stop(100%, rgba(19, 19, 19, 1)));
    background: -webkit-linear-gradient(45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    background: linear-gradient(45deg, rgba(76, 76, 76, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%, rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1) 91%, rgba(19, 19, 19, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1);
}

.context-dark,
.bg-gray-dark,
.bg-primary {
    font-weight: bold;
    color: white;
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:hover,
.footer-classic a:active {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a:before {
    content: ">";
    color: red;
    font: 600 21px/1;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: 1s ease;
}
/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
 @-webkit-keyframes passing-through {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      transform: translateY(40px); }
    30%, 70% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-40px);
      -moz-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
      -o-transform: translateY(-40px);
      transform: translateY(-40px); } }
  @-moz-keyframes passing-through {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      transform: translateY(40px); }
    30%, 70% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-40px);
      -moz-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
      -o-transform: translateY(-40px);
      transform: translateY(-40px); } }
  @keyframes passing-through {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      transform: translateY(40px); }
    30%, 70% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); }
    100% {
      opacity: 0;
      -webkit-transform: translateY(-40px);
      -moz-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
      -o-transform: translateY(-40px);
      transform: translateY(-40px); } }
  @-webkit-keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      transform: translateY(40px); }
    30% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); } }
  @-moz-keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      transform: translateY(40px); }
    30% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); } }
  @keyframes slide-in {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40px);
      -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
      -o-transform: translateY(40px);
      transform: translateY(40px); }
    30% {
      opacity: 1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); } }
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    10% {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    20% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); } }
  @-moz-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    10% {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    20% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); } }
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    10% {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1); }
    20% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); } }
  .dropzone, .dropzone * {
    box-sizing: border-box; }

  .dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px; }
    .dropzone.dz-clickable {
      cursor: pointer; }
      .dropzone.dz-clickable * {
        cursor: default; }
      .dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
        cursor: pointer; }
    .dropzone.dz-started .dz-message {
      display: none; }
    .dropzone.dz-drag-hover {
      border-style: solid; }
      .dropzone.dz-drag-hover .dz-message {
        opacity: 0.5; }
    .dropzone .dz-message {
      text-align: center;
      margin: 2em 0; }
    .dropzone .dz-preview {
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin: 16px;
      min-height: 100px; }
      .dropzone .dz-preview:hover {
        z-index: 1000; }
        .dropzone .dz-preview:hover .dz-details {
          opacity: 1; }
      .dropzone .dz-preview.dz-file-preview .dz-image {
        border-radius: 20px;
        background: #999;
        background: linear-gradient(to bottom, #eee, #ddd); }
      .dropzone .dz-preview.dz-file-preview .dz-details {
        opacity: 1; }
      .dropzone .dz-preview.dz-image-preview {
        background: white; }
        .dropzone .dz-preview.dz-image-preview .dz-details {
          -webkit-transition: opacity 0.2s linear;
          -moz-transition: opacity 0.2s linear;
          -ms-transition: opacity 0.2s linear;
          -o-transition: opacity 0.2s linear;
          transition: opacity 0.2s linear; }
      .dropzone .dz-preview .dz-remove {
        font-size: 14px;
        text-align: center;
        display: block;
        cursor: pointer;
        border: none; }
        .dropzone .dz-preview .dz-remove:hover {
          text-decoration: underline; }
      .dropzone .dz-preview:hover .dz-details {
        opacity: 1; }
      .dropzone .dz-preview .dz-details {
        z-index: 20;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        font-size: 13px;
        min-width: 100%;
        max-width: 100%;
        padding: 2em 1em;
        text-align: center;
        color: rgba(0, 0, 0, 0.9);
        line-height: 150%; }
        .dropzone .dz-preview .dz-details .dz-size {
          margin-bottom: 1em;
          font-size: 16px; }
        .dropzone .dz-preview .dz-details .dz-filename {
          white-space: nowrap; }
          .dropzone .dz-preview .dz-details .dz-filename:hover span {
            border: 1px solid rgba(200, 200, 200, 0.8);
            background-color: rgba(255, 255, 255, 0.8); }
          .dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
            overflow: hidden;
            text-overflow: ellipsis; }
            .dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
              border: 1px solid transparent; }
        .dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
          background-color: rgba(255, 255, 255, 0.4);
          padding: 0 0.4em;
          border-radius: 3px; }
      .dropzone .dz-preview:hover .dz-image img {
        -webkit-transform: scale(1.05, 1.05);
        -moz-transform: scale(1.05, 1.05);
        -ms-transform: scale(1.05, 1.05);
        -o-transform: scale(1.05, 1.05);
        transform: scale(1.05, 1.05);
        -webkit-filter: blur(8px);
        filter: blur(8px); }
      .dropzone .dz-preview .dz-image {
        border-radius: 20px;
        overflow: hidden;
        width: 120px;
        height: 120px;
        position: relative;
        display: block;
        z-index: 10; }
        .dropzone .dz-preview .dz-image img {
          display: block; }
      .dropzone .dz-preview.dz-success .dz-success-mark {
        -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
        -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
        -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
        animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
      .dropzone .dz-preview.dz-error .dz-error-mark {
        opacity: 1;
        -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
        animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
      .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
        pointer-events: none;
        opacity: 0;
        z-index: 500;
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        margin-left: -27px;
        margin-top: -27px; }
        .dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
          display: block;
          width: 54px;
          height: 54px; }
      .dropzone .dz-preview.dz-processing .dz-progress {
        opacity: 1;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
      .dropzone .dz-preview.dz-complete .dz-progress {
        opacity: 0;
        -webkit-transition: opacity 0.4s ease-in;
        -moz-transition: opacity 0.4s ease-in;
        -ms-transition: opacity 0.4s ease-in;
        -o-transition: opacity 0.4s ease-in;
        transition: opacity 0.4s ease-in; }
      .dropzone .dz-preview:not(.dz-processing) .dz-progress {
        -webkit-animation: pulse 6s ease infinite;
        -moz-animation: pulse 6s ease infinite;
        -ms-animation: pulse 6s ease infinite;
        -o-animation: pulse 6s ease infinite;
        animation: pulse 6s ease infinite; }
      .dropzone .dz-preview .dz-progress {
        opacity: 1;
        z-index: 1000;
        pointer-events: none;
        position: absolute;
        height: 16px;
        left: 50%;
        top: 50%;
        margin-top: -8px;
        width: 80px;
        margin-left: -40px;
        background: rgba(255, 255, 255, 0.9);
        -webkit-transform: scale(1);
        border-radius: 8px;
        overflow: hidden; }
        .dropzone .dz-preview .dz-progress .dz-upload {
          background: #333;
          background: linear-gradient(to bottom, #666, #444);
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 0;
          -webkit-transition: width 300ms ease-in-out;
          -moz-transition: width 300ms ease-in-out;
          -ms-transition: width 300ms ease-in-out;
          -o-transition: width 300ms ease-in-out;
          transition: width 300ms ease-in-out; }
      .dropzone .dz-preview.dz-error .dz-error-message {
        display: block; }
      .dropzone .dz-preview.dz-error:hover .dz-error-message {
        opacity: 1;
        pointer-events: auto; }
      .dropzone .dz-preview .dz-error-message {
        pointer-events: none;
        z-index: 1000;
        position: absolute;
        display: block;
        display: none;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -ms-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        border-radius: 8px;
        font-size: 13px;
        top: 130px;
        left: -10px;
        width: 140px;
        background: #be2626;
        background: linear-gradient(to bottom, #be2626, #a92222);
        padding: 0.5em 1.2em;
        color: white; }
        .dropzone .dz-preview .dz-error-message:after {
          content: '';
          position: absolute;
          top: -6px;
          left: 64px;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #be2626; }

